@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
    --cover: url('https://randart.ru/art/Fujita/cover/');
    --bg: #ffffffcf;
    --font-color: black;
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --btn: #5f5f5f;
    --ripple: #c3c3c3d1;
    --rounded: 10em;
    --bd:#f7cf0d;
}

[data-theme="dark"] {
    --bg: #000000cf;
    --font-color: white;
    --btn: whitesmoke;
    --bd:#8e7afb;
}

body {
        background: var(--cover);
        color: var(--font-color);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}

body:after {
    background: var(--bg);
    position: fixed;
    width: 100%;
    height: 100%;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.container {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
    font-family: var(--font);
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    z-index: 111;
    position: relative;
}

.container h3 {
        margin-top: 24px;
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 1.25;
}

.cc {
    width: 30px;
    position: relative;
    z-index: 111;
}

.mode input#checkbox {
        display: none;
}

label.mode {
        color: var(--btn);
        cursor: pointer;
        user-select: none;
}



/* Ripple */

.animate {
        animation: ripple 0.65s linear;
}

@keyframes ripple {
        100% {
                opacity: 0;
                transform: scale(2.5);
        }
}

.ripplelink {
    display: block;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    z-index: 0;
    text-align: center;
    border-radius: var(--rounded);
}

.ink {
        display: block;
        position: absolute;
        background: var(--ripple);
        border-radius: 100%;
        transform: scale(0);
}


